html,
body {
  margin: 0;
  color: white;
  background-color: #2f4f30;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas,
#computador-cartas {
  height: 250px;
}